  <div id="container">
    <div id='header'>
      <h1>まとめtail</h1>
    </div>
  <div id="categoly">
    <p>カテゴリー</p>
    <ul>
      <li><%= image_tag "wakaba01.png" %>初心者</li>
      <li>中級者</li>
      <li>上級者</li>
    </ul>
  </div>
  
  <div id="my">
    <div class="mypage">
      <div id = "history">
        <canvas width="270" height="185" id="footmark"></canvas>
          <%= javascript_tag do %>
            $("#footmark").click(function() {
            alert("クリックしました");
            return false;
          });
        <% end %>
      </div>

      <br>

  	<div id = "tag">
    <canvas id="pieArea" height="250" width="250"></canvas>
      <script>
      <!-- 円グラフ用データ -->
        var pieData = [
          {
	          value: 70,
	          color:"#CCCCCC",
	          label: "PHP"
	        },
	        {
	          value : 15,
	          color : "#FF0066",
	          label: "Ruby"
	        },
	        {
	          value : 15,
	          color : "#666666",
	          label: "C++"
	        }
	      ];
	    <!-- 円グラフ描画 -->
	    var myPie = new Chart(document.getElementById("pieArea").getContext("2d")).Pie(pieData);
	    </script>
	  </div>
    </div>
  </div>



  <div id="summary">
    <% index = 0 %>
    <% @result_question.zip(@result_answer).each do |question,answer| %>
      <div class="topic">
        <h2 class="title"><%= question["title"] %></h2>
        <p class="tag"><%= question["tags"] %></p>
        <p class="pv"><%= link_to "PV:"+question["count_pv"].to_s, "https://teratail.com/questions/"+question["id"].to_s %></p><br>
        <div></div>
        <div class="content">
        <p><span class="index">Question</span><span> by </span><span class="user"><%= question["display_name"] %></span><span><%= simple_format(question["body"]) %></span></p>
         <p><span class="index">Answer</span><span> by </span><span class="user"><%= answer["display_name"] %></span><%= simple_format(answer["body"]) %></p>
        </div>
        </div>
    <% end %>
  </div>
</div>
