<h3>APIからのデータ</h3>
		<div class="mypage">
			<div　id = "username">
				<p>ユーザの名前</p>
			</div>
			<div id = "history">
				<canvas width="400" height="300" id="footmark"></canvas>
				<%= javascript_tag do %>
				  $("#footmark").click(function() {
				    alert("クリックしました");
				    return false;
				  });
				<% end %>
			</div>
		</div>
<%= @result[1].keys %>

<h3>result</h3>
<% @result.each.with_index(1) do |date,index| %>
  タイトル<%= index %>：<%= date["title"] %><br>
  PV<%= index %>：<%= date["count_pv"] %><br>
  タグ<%= index %>：<%= date["tags"] %><br>
  本文<%= index %>：<%= date["body"] %><br><br>
<% end %>

